header {
  padding: 3rem 1rem;
  text-align: center;
  background-image: url("../assets/savernake-knives-RBTAoTZxf3Q-unsplash.jpg");

  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;

    justify-content: space-between;
    ul {
      display: flex;
      li {
        margin-left: 2rem;
      }
    }
  }
  &__quote {
    color: grey;
    width: 60%;
    margin: auto;
    h1 {
      font-family: $titlefont;
      font-size: 3.3rem;
    }
    button {
      outline: none;
      border: none;
      color: grey;
      background-color: transparent;
      background-color: none;
      text-transform: uppercase;
      font-size: 1.3rem;
      position: relative;

      &::before {
        content: "\002192 ";
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 50%;
        background-color: map-get($map: $colors, $key: "primary");
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-left: -2rem ;
      }
    }
  }
}
