.searchBar {
    padding: 2rem 1rem;

}
.searchBar  input {
    font-size: 1.2rem;

};
input:focus::-webkit-input-placeholder {
    color: transparent;
};

input:focus:-moz-placeholder {
    color: transparent;
};

input:focus::-moz-placeholder {
    color: transparent;
};

.searchBar input {
    color: rgb(78, 78, 78);
    border: 2px solid rgb(78, 78, 78);;
    font: bold 12px Arial, Helvetica, Sans-serif;
    color: rgb(78, 78, 78);;
    width: 160px;
    padding: 14px 17px 12px 20px;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    text-shadow: 0 2px 3px #ffffff;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
};

.searchBar input:focus {
    background: grey;
    border: 2px solid grey;
    width: 200px;
    padding-left: 10px;
};