@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins&display=swap');

$colors:(
    'primary': #FBB03B,
    'secondary': #222 ,
    'success': #249403
);

$textfont: 'Manrope', sans-serif;

$titlefont: 'Poppins', sans-serif;
